* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Tahoma;
}

/* 導覽列 */
.headerdiv {
    background-color: #0f4c5c;
    font-size: 0px;
    display: flex;
    text-align: center;
}

/* 商標 */
.headercontent_img {
    display: inline-block;
    margin: 0px 150px 0px 50px;
}

.headercontent_img>img {
    object-fit: cover;
    width: 180px;
    height: 80px;
}

/* 下拉式菜單 */
.headercontent_menu {
    position: relative;
    display: flex;
    flex-direction: column;
}

/* 滑動到美味菜單時顯示選單 */
.headercontent_menu:hover .dropdown-content {
    display: block;
}

/* 選單的內容設定 */
.dropdown-content {
    display: none;
    width: 120px;
    background-color: #031b21;
    position: absolute;
    left: 0px;
    top: 100px;
    z-index: 3;
}

/* 選單內的連結 */
.dropdown-content a {
    display: block;
    padding: 10px;
}

/* 滑動各個連結變色 */
.dropdown-content a:hover {
    background-color: #AAA;
}

/* 徵人訊息 */
.headercontent a {
    text-decoration: none;
    color: #FFF;
    display: block;
    padding-top: 10px;
}

.apply_headercontent {
    height: 101px;

}

/* 導覽列icon */
.headercontent_icon {
    display: inline-block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}

.headercontent_icon>img {
    margin: 8px;
    width: 35px;
    padding: 5px;
}

.headercontent:hover {
    background-color: #237182;

}

/* 頁首內容 */

.headercontent {
    display: inline-block;
    background-color: #0f4c5c;
    padding: 24px;
    font-size: 18px;
    color: #FFF;
    width: 120px;
}

.headercontent>p {
    padding-top: 10px;
}

/* 內容 */
main {
    background-color: #335a61;
}

/* 介紹 */
.introduce {
    position: relative;
}

/* 介紹用圖片 */
.introduce_img>img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* 介紹用文字 */
.introduce_text {
    position: absolute;
    color: #FFF;
    bottom: 100px;
    left: 80px;
    background-color: #183a42;
    font-size: 36px;
    width: 200px;
    text-align: center;
    padding-top: 10px;
    color: #FFFFFF;
    text-shadow: #474747 3px 5px 2px;
}

/* 表單div位置 */
.sheet {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 表單格式 */
.booking_sheet {
    width: 500px;
    height: 100%;
    background-color: #302e2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.booking_sheet:hover {
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 20px 5px rgba(0, 0, 0, 0.65);
    transition: box-shadow 0.4s;
}

.booking_sheet>div {
    margin: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.booking_sheet>div> div label {
    margin: 5px;
    color: #DDD;
}

/* input整體樣式 */

.booking_sheet>div>div input {
    border: 1px solid rgb(152, 133, 12);
    border-radius: 5px;
    background-color: #302e2e;
    color: #FFF;
}

/* 姓名，電話 */
.sheet_name>input,
.sheet_phone>input {
    width: 50%;
    height: 40px;
    padding: 5px;

}

/* 電子郵件 */
.sheet_email>input {
    width: 85%;
    height: 40px;
    padding: 5px;
}

/* 人數，日期，時間 */
.sheet_people>input,
.sheet_time>input,
.sheet_date>input {
    width: 60%;
    height: 40px;
    padding: 5px;
}

/* 表單_訊息 */
.sheet_text>input {
    width: 65%;
    height: 100px;
    padding: 5px;
}

/* 表單_按鈕 */
.sheet_button>button {
    width: 90%;
    height: 40px;
    margin: 0 auto 10px auto;
    background-color: rgb(152, 133, 12);
    border-radius: 5px;
}

.go_top {
    width: 50px;
    position: absolute;
    right: 0px;
    bottom: 50px;
    display: none;
}


.go_top>p {
    border-radius: 20px;
    color: #DDD;
    position: fixed;
    background-color: rgb(225, 17, 17)
}

/* 頁尾內容 */
.foot_content {
    background-color: #0f4c5c;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    font-size: 10px;
}

/* 聯絡資訊 */
.foot_content_number {
    flex: 1;

}

.foot_content_number>div {
    margin-top: 15px;
}

.foot_content_number>div>img {
    width: 25px;
    margin-right: 10px;
}

.foot_content_open_time {
    flex: 1;
}

.foot_content_open_time>span {
    display: inline-block;
    /* margin-top: 20px; */
    line-height: 25px;
}

.foot_content {
    color: #FFF;
}


.foot_bottom {
    background-color: #237182;
    height: 30px;
    text-align: center;
}

.foot_bottom>span {
    color: #DDD;
    font-size: 10px;
    padding: 10px;
}

/* 頁尾icon */
.foot_bottom>img {
    width: 25px;
    padding: 5px;
}