html{
    scroll-behavior: smooth;
  }
  body{
    font-family: Tahoma;
}
* {
    margin: 0px;
    padding: 0px;
}

/* 導覽列 */

.headerdiv {
    background-color: #0f4c5c;
    font-size: 0px;
    display: flex;
    text-align: center;
}
 
/* 商標 */
.headercontent_img {
    display: inline-block;
    margin: 0px 150px 0px 50px;
}

.headercontent_img>img {
    object-fit: cover;
    width: 180px;
    height: 80px;
}
/* 下拉式菜單 */
.headercontent_menu{
    position: relative;
    display: flex;
    flex-direction: column;
}
/* 滑動到美味菜單時顯示選單 */
.headercontent_menu:hover .dropdown-content{
    display: block;
}
/* 選單的內容設定 */
.dropdown-content{
    display: none;
    width: 120px;
    background-color: #031b21;
    position: absolute;
    left: 0px;
    top:100px;
    z-index: 3;
}
/* 選單內的連結 */
.dropdown-content  a{
    display: block;
    padding: 10px;
}
/* 滑動各個連結變色 */
.dropdown-content  a:hover{
    background-color: #AAA;
}
/* 徵人訊息 */
.headercontent a {
    text-decoration: none;
    color: #FFF;
    display: block;
    padding-top: 10px;
}

.apply_headercontent {
    height: 101px;
}

/* 導覽列icon */
.headercontent_icon {
    display: inline-block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 30px;
}

.headercontent_icon>img {
    margin: 8px;
    width: 35px;
    padding: 5px;
}

.headercontent:hover {
    background-color: #237182;
}


.headercontent {
    display: inline-block;
    background-color: #0f4c5c;
    padding: 24px;
    font-size: 18px;
    color: #FFF;
    width: 120px;
 } 

.headercontent>p {
    padding-top: 10px;
}

/* 內容 */
main {
    background-color: #335a61;
}

/* 介紹 */
.introduce {
    position: relative;
}

/* 介紹用圖片 */
.introduce_img>img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* 介紹用文字 */
.introduce_text {
    position: absolute;
    color: #FFF;
    bottom: 100px;
    left: 80px;
    background-color: #183a42;
    font-size: 64px;
    width: 200px;
    text-align: center;
    padding-top: 10px;
    color: #FFFFFF;
    text-shadow: #474747 3px 5px 2px;
}
/* 菜單內容 */
.menu_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.menu_content div {
    display: flex;
    margin-top: 50px;
    border-radius: 5px;
}

.pig div, .chicken div, .beef div{
    color: #FFF;
    display: flex;
    margin: 20px;
    box-shadow: 0px 10px 13px -7px #000000, 12px 9px 24px 7px rgba(0,0,0,0.86);
   }

/* 漢堡圖示*/
.menu_content  div div[class$="_box"] >img{
    width: 230px;
    height: 230px;
    object-fit: fill;
    
}
/* 漢堡內容 */
.menu_content  div div[class$="_box"] > div{
    width: 230px;
    height: 230px;
    margin: 0;
    text-align: center;
    opacity: 1;
    background-color: #1e2323;
    
}


.menu_content  div div[class$="_box"]:hover {
   transform: translate(3px,-3px);
}
/* 餐點名稱 */
.menu_content  div div[class$="_box"] > div  >ul{
    font-size: 28px;
    width: 100%;
    padding: 0px;
    padding-top: 15px;
    color:rgb(253, 186, 2);
}
.menu_content  div div[class$="_box"] > div >ul >li{
    color: #FFF;
    font-size: 16px;
    list-style-type: none;
    padding: 5px;
}
.menu_content  div div[class$="_box"] > div >ul >li:last-child{
    color:rgb(253, 245, 2);
}
/* 菜單內li第一個元素 */
.menu_content  div div[class$="_box"] > div >ul >li:first-child{
    font-size: 16px;
    border-bottom: 6px solid #AAA;  /*格行線*/
    color:rgb(253, 186, 2);
}


/* 回到頂部 */
.go_top {
    width: 50px;
    position: absolute;
    right: 0px;
    bottom: 50px;
    display: none;
}


.go_top >  p {
    border-radius: 20px;
    color: #DDD;
    position: fixed;
    background-color: rgb(225, 17, 17)
}


/* 頁尾內容 */
.foot_content {
    background-color: #0f4c5c;
    height: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;
    font-size: 10px;
}

/* 聯絡資訊 */
.foot_content_number {
    flex: 1;

}

.foot_content_number>div {
    margin-top: 15px;
}

.foot_content_number>div>img {
    width: 25px;
    margin-right: 10px;
}

.foot_content_open_time {
    flex: 1;
}

.foot_content_open_time>span {
    display: inline-block;
    /* margin-top: 20px; */
    line-height: 25px;
}

.foot_content {
    color: #FFF;
}


.foot_bottom {
    background-color: #237182;
    height: 30px;
    text-align: center;
}

.foot_bottom>span {
    color: #DDD;
    font-size: 10px;
    padding: 10px;
}

/* 頁尾icon */
.foot_bottom>img {
    width: 25px;
    padding: 5px;
}